<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493467710369-epcvrutgoiki6mqha3m651dvbs9d0mbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493467710369-epcvrutgoiki6mqha3m651dvbs9d0mbe</string>
	<key>API_KEY</key>
	<string>AIzaSyDXqa3OVaLiwwNIzqJ7qC7nKZ79dC8JzU4</string>
	<key>GCM_SENDER_ID</key>
	<string>493467710369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Auth-Email-Login-Skeleton.SwiftUI-Auth-Skeleton</string>
	<key>PROJECT_ID</key>
	<string>swiftui-auth-d4535</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-auth-d4535.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493467710369:ios:ec9e746f8214e1b04d51e0</string>
	<key>DATABASE_URL</key>
	<string>https://swiftui-auth-d4535.firebaseio.com</string>
</dict>
</plist>